<!DOCTYPE html>
<html>
<head>
  <title>Gogigapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
=======

<%= render 'layouts/navbar' %>
<div class="container">
  <%= yield %>
</div>
>>>>>>> eb4da83e5c1313dfa0585ae07b6c489d08c55ee0

<%= render 'layouts/footer' %>
</body>
</html>
